.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(219, 0, 0);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad{
    margin-top:20px;
}

.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 600px;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    background: black;
    color:#fff;
}

.fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: center;
    width: 100%;
}



.alternative_fixed_header{
    width: 100%;
    border-collapse: collapse;
}

.alternative_fixed_header tbody{
    display: block;
    width: 100%;
    overflow: auto;
    height: 600px;
}

.alternative_fixed_header thead tr {
    display: block;
}

.alternative_fixed_header thead {
    background: black;
    color:#fff;
}

.alternative_fixed_header th {
    padding: 5px;
    text-align: center;
    width: 200px;
}

.post-container {
    border: 1px solid #ccc; /* Add a border */
    padding: 10px; /* Add some padding */
    width: 100%; /* Set the width to 100% */
    height: auto; /* Set the height to auto for responsiveness */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.post-name-title {
    font-weight: bold; /* Make the username bold */
    font-size: large;
}
  
.post-name-title span {
    font-weight: normal; /* Make the title and hyphen normal */
}

.post-content {
    font-size: medium; /* Set default font size */
}

.post-date {
    font-size: small; /* Set default font size */
    color: #aaa; /* Light grey text color */
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.post-date {
    margin-right: 10px;
}

.post-tr {
    display: block;
    width: 100%;
}